<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mititos</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="#">Perfil</a></li>
        <li class="nav-item"><a class="nav-link" href="mis-mazos">Mis mazos</a></li>
        <li class="nav-item"><a class="nav-link" href="deck-builder">Crear Mazo</a></li>
        <li class="nav-item"><a class="nav-link" href="card-list">Lista de cartas</a></li>
      </ul>

      
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown">
            <img
                 class="rounded-circle"
                 width="40" height="40" alt="Perfil">
          </a>

          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
